<!doctype html>
<html class="theme-dark theme-font">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>SecurityFirst CTF 2021</title>
        <!---->
        <link rel="stylesheet" href="css/theme.css">
        <link rel="stylesheet" href="css/controls.css">
        <link rel="stylesheet" href="css/common.css">
    </head>
    <body>
        <div class="navbar">
            <div class="navbar-content">
                <div class="navbar-item-title secu-title-s">
                    SECURITYFIRST
                </div>
                <div class="navbar-item">
                    <a class="navbar-link" href="notice.ejs">NOTICE</a>
                </div>
                <div class="navbar-item">
                    <a class="navbar-link" href="board.ejs">SCOREBOARD</a>
                </div>
                <div class="navbar-item">
                    <a class="navbar-link navbar-link-active" href="challenge.ejs">CHALLENGE</a>
                </div>
                <div class="navbar-item navbar-item-profile">
                    <a class="navbar-link" href="profile.ejs">PROFILE</a>
                </div>
                <div class="navbar-item">
                    <a class="navbar-link" href="logout.html">LOGOUT</a>
                </div>
            </div>
        </div>
        <div id="ingame-root">
            <div class="ingame-content">
                <div class="challenge-main-container">
                    <div class="challenge-main-item">
                        <div class="challenge-main-title">
                            CHALLENGE
                        </div>
                    </div>
                    <div class="challenge-main-item">
                        <div class="challenge-map-container">
                            <div class="challenge-map-item">
                                <div class="challenge-map-name">
                                    <img src="img/AmongUs-TheSkeldTitle.png" />
                                </div>
                            </div>
                            <div class="challenge-map-item">
                                <div class="challenge-map-img">
                                    <img src="img/AmongUs-TheSkeldMap.png" />
                                    <a class="challenge-map-all challenge-map-selected">
                                        ALL
                                    </a>
                                    <a class="challenge-map-rev">
                                        REV
                                    </a>
                                    <a class="challenge-map-pwn">
                                        PWN
                                    </a>
                                    <a class="challenge-map-for">
                                        FOR
                                    </a>
                                    <a class="challenge-map-web">
                                        WEB
                                    </a>
                                    <a class="challenge-map-misc">
                                        MISC
                                    </a>
                                    <a class="challenge-map-crypt">
                                        CRYPT
                                    </a>
                                    <a class="challenge-map-question">
                                        ?
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="challenge-prob-container">
                    <div class="challenge-prob-item challenge-prob-item-caption">
                        <div class="challenge-prob-item-type">
                            <p>분야</p>
                        </div>
                        <hr class="challenge-prob-item-divider-v divider" />
                        <div class="challenge-prob-item-point">
                            <p>점수</p>
                        </div>
                        <hr class="challenge-prob-item-divider-v divider" />
                        <div class="challenge-prob-item-name">
                            <p>문제이름</p>
                        </div>
                        <hr class="challenge-prob-item-divider-v divider" />
                        <div class="challenge-prob-item-solver">
                            <p>풀이수</p>
                        </div>
                        <hr class="challenge-prob-item-divider-v divider" />
                        <div class="challenge-prob-item-author">
                            <p>출제자</p>
                        </div>
                    </div>
                    <a class="challenge-prob-item challenge-prob-item-solved">
                        <div class="challenge-prob-item-type">
                            <p>MISC</p>
                        </div>
                        <hr class="challenge-prob-item-divider-v divider" />
                        <div class="challenge-prob-item-point">
                            <p>1000</p>
                        </div>
                        <hr class="challenge-prob-item-divider-v divider" />
                        <div class="challenge-prob-item-name">
                            <p>MIC CHECK! MIC CHECK!</p>
                        </div>
                        <hr class="challenge-prob-item-divider-v divider" />
                        <div class="challenge-prob-item-solver">
                            <p>999</p>
                        </div>
                        <hr class="challenge-prob-item-divider-v divider" />
                        <div class="challenge-prob-item-author">
                            <p>ClasSun9</p>
                        </div>
                    </a>
                    <a class="challenge-prob-item">
                        <div class="challenge-prob-item-type">
                            <p>PWN</p>
                        </div>
                        <hr class="challenge-prob-item-divider-v divider" />
                        <div class="challenge-prob-item-point">
                            <p>50</p>
                        </div>
                        <hr class="challenge-prob-item-divider-v divider" />
                        <div class="challenge-prob-item-name">
                            <p>Ho</p>
                        </div>
                        <hr class="challenge-prob-item-divider-v divider" />
                        <div class="challenge-prob-item-solver">
                            <p>999</p>
                        </div>
                        <hr class="challenge-prob-item-divider-v divider" />
                        <div class="challenge-prob-item-author">
                            <p>ClasSun9</p>
                        </div>
                    </a>
                    <a class="challenge-prob-item">
                        <div class="challenge-prob-item-type">
                            <p>REV</p>
                        </div>
                        <hr class="challenge-prob-item-divider-v divider" />
                        <div class="challenge-prob-item-point">
                            <p>50</p>
                        </div>
                        <hr class="challenge-prob-item-divider-v divider" />
                        <div class="challenge-prob-item-name">
                            <p>HoHo</p>
                        </div>
                        <hr class="challenge-prob-item-divider-v divider" />
                        <div class="challenge-prob-item-solver">
                            <p>999</p>
                        </div>
                        <hr class="challenge-prob-item-divider-v divider" />
                        <div class="challenge-prob-item-author">
                            <p>ClasSun9</p>
                        </div>
                    </a>
                    <a class="challenge-prob-item">
                        <div class="challenge-prob-item-type">
                            <p>CRYPT</p>
                        </div>
                        <hr class="challenge-prob-item-divider-v divider" />
                        <div class="challenge-prob-item-point">
                            <p>999999999</p>
                        </div>
                        <hr class="challenge-prob-item-divider-v divider" />
                        <div class="challenge-prob-item-name">
                            <p>HoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHoHo</p>
                        </div>
                        <hr class="challenge-prob-item-divider-v divider" />
                        <div class="challenge-prob-item-solver">
                            <p>999999999999999999</p>
                        </div>
                        <hr class="challenge-prob-item-divider-v divider" />
                        <div class="challenge-prob-item-author">
                            <p>ClasSun9ClasSun9ClasSun9</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>