<!doctype html>
<html class="theme-dark theme-font">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>SecurityFirst CTF 2021</title>
        <!---->
        <link rel="stylesheet" href="css/theme.css">
        <link rel="stylesheet" href="css/controls.css">
        <link rel="stylesheet" href="css/common.css">
    </head>
    <body>
        <div id="error-root">

        </div>
    </body>
</html>