<!doctype html>
<html class="theme-dark theme-font">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>SCH DISE Market</title>
        <!---->
        <link rel="stylesheet" href="<%=route%>css/theme.css">
        <link rel="stylesheet" href="<%=route%>css/controls.css">
        <link rel="stylesheet" href="<%=route%>css/common.css">
    </head>
    <body>
        <div class="navbar">
            <div class="navbar-content">
                <div class="navbar-item-title secu-title-s">
                    <a class="navbar-link-logo" href="/">DISE Market!</a>
                </div>
                <div class="navbar-item">
                    <a class="navbar-link navbar-link-active" href="notice.ejs">NOTICE</a>
                </div>
                <div class="navbar-item">
                    <a class="navbar-link" href="board.ejs">SCOREBOARD</a>
                </div>
                <div class="navbar-item">
                    <a class="navbar-link" href="search.ejs">CHALLENGE</a>
                </div>
                <div class="navbar-item navbar-item-profile">
                    <a class="navbar-link" href="profile.ejs">PROFILE</a>
                </div>
                <div class="navbar-item">
                    <a class="navbar-link" href="logout.html">LOGOUT</a>
                </div>
            </div>
        </div>
        <div id="ingame-root">
            <div class="ingame-content">
                <div class="notice-main-container">
                    <div class="notice-main-item">
                        <div class="notice-main-title">
                            NOTICE
                        </div>
                    </div>
                    <div class="notice-main-item">
                        <div class="notice-summary-container">
                            <div class="notice-summary-rule">
                                <div class="notice-summary-rule-title">
                                    대회규칙
                                </div>
                                <div class="notice-summary-rule-text">
                                    <p>규칙 1. 공격하지 마셈</p>
                                    <p>규칙 2. 문제는 순차적으로 열릴 예정</p>
                                    <p>규칙 3. 호</p>
                                    <p>규칙 4. 호</p>
                                    <p>규칙 5. 시큐 홈페이지는 이곳 : http://securityfirst.co.kr</p>
                                </div>
                            </div>
                            <div>
                                <hr class="divider notice-item-divider-v" />
                            </div>
                            <div class="notice-summary-discord">
                                <div class="notice-summary-discord-title">
                                    디스코드
                                </div>
                                <div class="notice-summary-discord-text">
                                    <p>디스코드 디스코드 디스코드 디스코드 디스코드 디스코드 디스코드 디스코드 디스코드 디스코드 디스코드 디스코드 디스코드 디스코드 디스코드 디스코드 디스코드 디스코드 디스코드 디스코드 디스코드 디스코드 디스코드 디스코드 디스코드 디스코드 디스코드 디스코드 디스코드 디스코드</p>
                                </div>
                                <div class="notice-summary-discord-button">
                                    <button class="button-primary-tile">디스코드로가기</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="notice-list-container">
                    <a class="notice-list-item" href="notice-detail.ejs">
                        <div class="notice-list-item-title">
                            <span>첫번째 공지입니다</span>
                            <span>2021-01-01 00:00</span>
                        </div>
                        <div class="notice-list-item-text">
                            <p>그렇습니다. 첫번째 공지입니다. 호호. 그렇습니다. 첫번째 공지입니다. 호호. 그렇습니다. 첫번째 공지입니다. 호호. 그렇습니다. 첫번째 공지입니다. 호호. 그렇습니다. 첫번째 공지입니다. 호호. 그렇습니다. 첫번째 공지입니다. 호호. 그렇습니다. 첫번째 공지입니다. 호호. 그렇습니다. 첫번째 공지입니다. 호호. 그렇습니다. 첫번째 공지입니다. 호호. 그렇습니다. 첫번째 공지입니다. 호호.</p>
                        </div>
                    </a>
                    <a class="notice-list-item" href="notice-detail.ejs">
                        <div class="notice-list-item-title">
                            <span>두번째 공지입니다</span>
                            <span>2021-01-01 00:00</span>
                        </div>
                        <div class="notice-list-item-text">
                            <p>그렇습니다. 두번째 공지입니다. 호호. 그렇습니다. 두번째 공지입니다. 호호. 그렇습니다. 두번째 공지입니다. 호호. 그렇습니다. 두번째 공지입니다. 호호. 그렇습니다. 두번째 공지입니다. 호호. 그렇습니다. 두번째 공지입니다. 호호. 그렇습니다. 두번째 공지입니다. 호호. 그렇습니다. 두번째 공지입니다. 호호.</p>
                        </div>
                    </a>
                    <a class="notice-list-item" href="notice-detail.ejs">
                        <div class="notice-list-item-title">
                            <span>세번째 공지입니다</span>
                            <span>2021-01-01 00:00</span>
                        </div>
                        <div class="notice-list-item-text">
                            <p>그렇습니다. 세번째 공지입니다. 호호. 그렇습니다. 세번째 공지입니다. 호호. 그렇습니다. 세번째 공지입니다. 호호. 그렇습니다. 세번째 공지입니다. 호호. 그렇습니다. 세번째 공지입니다. 호호. 그렇습니다. 세번째 공지입니다. 호호. 그렇습니다. 세번째 공지입니다. 호호. 그렇습니다. 세번째 공지입니다. 호호.</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>