<!doctype html>
<html class="theme-dark theme-font">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>SecurityFirst CTF 2021</title>
        <!---->
        <link rel="stylesheet" href="css/theme.css">
        <link rel="stylesheet" href="css/controls.css">
        <link rel="stylesheet" href="css/common.css">
    </head>
    <body>
        <div class="navbar">
            <div class="navbar-content">
                <div class="navbar-item-title secu-title-s">
                    SECURITYFIRST
                </div>
                <div class="navbar-item">
                    <a class="navbar-link navbar-link-active" href="notice.ejs">NOTICE</a>
                </div>
                <div class="navbar-item">
                    <a class="navbar-link" href="board.ejs">SCOREBOARD</a>
                </div>
                <div class="navbar-item">
                    <a class="navbar-link" href="challenge.ejs">CHALLENGE</a>
                </div>
                <div class="navbar-item navbar-item-profile">
                    <a class="navbar-link" href="profile.ejs">PROFILE</a>
                </div>
                <div class="navbar-item">
                    <a class="navbar-link" href="logout.html">LOGOUT</a>
                </div>
            </div>
        </div>
        <div id="ingame-root">
            <div class="ingame-content">
                <div class="notice-detail-container">
                    <div class="notice-detail-item">
                        <div class="notice-detail-title">
                            이곳에 공지 이름이 들어갑니다
                        </div>
                    </div>
                    <div class="notice-detail-item">
                        <div class="notice-detail-date">
                            2021-01-01 00:00
                        </div>
                    </div>
                    <div class="notice-detail-item">
                        <div class="notice-detail-item-divider-h">
                            <hr class="divider" />
                        </div>
                    </div>
                    <div class="notice-detail-item">
                        <div class="notice-detail-text">
                            <p>이곳에 공지 내용이 들어갑니다. 이곳에 공지 내용이 들어갑니다. 이곳에 공지 내용이 들어갑니다. 이곳에 공지 내용이 들어갑니다. 이곳에 공지 내용이 들어갑니다. 이곳에 공지 내용이 들어갑니다. 이곳에 공지 내용이 들어갑니다. 이곳에 공지 내용이 들어갑니다. 이곳에 공지 내용이 들어갑니다. 이곳에 공지 내용이 들어갑니다. 이곳에 공지 내용이 들어갑니다. 이곳에 공지 내용이 들어갑니다. 이곳에 공지 내용이 들어갑니다. 이곳에 공지 내용이 들어갑니다. 이곳에 공지 내용이 들어갑니다. 이곳에 공지 내용이 들어갑니다.</p>
                        </div>
                    </div>
                    <div class="notice-detail-item notice-detail-item-back-button">
                        <div class="notice-detail-back-button">
                            <a class="button-primary-tile" href="notice.ejs">돌아가기</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>