<!doctype html>
<html class="theme-dark theme-font">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>SecurityFirst CTF 2021</title>
        <!---->
        <link rel="stylesheet" href="css/theme.css">
        <link rel="stylesheet" href="css/controls.css">
        <link rel="stylesheet" href="css/common.css">
    </head>
    <body>
        <div class="navbar">
            <div class="navbar-content">
                <div class="navbar-item-title secu-title-s">
                    SECURITYFIRST
                </div>
                <div class="navbar-item">
                    <a class="navbar-link" href="notice.ejs">NOTICE</a>
                </div>
                <div class="navbar-item">
                    <a class="navbar-link" href="board.ejs">SCOREBOARD</a>
                </div>
                <div class="navbar-item">
                    <a class="navbar-link" href="challenge.ejs">CHALLENGE</a>
                </div>
                <div class="navbar-item navbar-item-profile">
                    <a class="navbar-link navbar-link-active" href="profile.ejs">PROFILE</a>
                </div>
            </div>
        </div>
        <div id="ingame-root">
            <div class="ingame-content">
                <div class="notice-main-container">
                    <div class="notice-main-item">
                        <div class="notice-main-title">
                            PROFILE
                        </div>
                    </div>
                    <div class="notice-main-item">
                        <div class="notice-summary-container">
                            <div class="notice-summary-rule">
                                <div class="notice-summary-rule-title">
                                    RULE
                                </div>
                                <div class="notice-summary-rule-text">
                                    <p> - Lorem ipsum dolor sit amet </p>
                                    <p> - consectetur adipiscing elit </p>
                                    <p> - sed do eiusmod tempor incididunt ut labore et dolore magna aliqua </p>
                                    <p> - Ut enim ad minim veniam </p>
                                </div>
                            </div>
                            <div>
                                <hr class="divider notice-item-divider-v" />
                            </div>
                            <div class="notice-summary-discord">
                                <div class="notice-summary-discord-title">
                                    DISCORD
                                </div>
                                <div class="notice-summary-discord-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                </div>
                                <div class="notice-summary-discord-button">
                                    <button class="button-primary-tile">디스코드로가기</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="notice-list-container">
                    <div class="notice-list-item">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </div>
                    <div class="notice-list-item">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </div>
                    <div class="notice-list-item">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>